.netrwhist

# git ignore vundle manage plugins
nerdtree/
ctrlp.vim/
vim-gitgutter/
YouCompleteMe/
ag.vim/
vim-colors-solarized/
vim-cpp-enhanced-highlight/
vim-go/

# vim-go stuff
/view

# ignor pyc files
*.pyc
